db:
  development:
    adapter: sqlite3
    database: /Users/mike/Development/Projects/blamethrower/db/blamethrower.db
  production:
    adapter: sqlite3
    database: /Users/mike/Development/Projects/blamethrower/db/blamethrower.db