%ul
  %li
    %a{:href=>"/login"} Login
  %li
    %a{:href=>"/signup"} Signup
%p
  %strong BlameThrower
  is a new social web application that allows you to let no stupid decision or opinion go unridiculed. Every 5 seconds in the United States, someone is wrong. It's time that we recognize the wrongness of our peers, and, if we're feeling introspective, of ourselves! Sign up for an account now, fire up the BlameThrower, and drench your peers in the burning hot napalm of ridicule.