%h2 Login
%p{:class=>"flash"}= @flash
%form{:class=>"login", :method=>"post", :action=>"/login"}
  %p
    %label Name
    %input{:type=>"text", :name=>"name", :id=>"name"}
  %p
    %label Password
    %input{:type=>"password", :name=>"pass", :id=>"pass"}
  %input{:type=>"submit", :value=>"login"}